# Add any directories, files, or patterns you don't want to be tracked by version control
notebook/.ipynb_checkpoints
notebook/Unt*
infrastructure/
images/
.idea/
boto_test.py
constants.py
bball_ref_obj.py
scrape_bballref_data.py
test.py
bball_ref_obj.pyc
constants.pyc
notebook/xgboost.model
